{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-main">
        <h1 class="title">War of tanks!</h1>
        <div class="main-table">
            <p id="first-p">Fight other player and become the best there are a lot champions who dreaming of being #1</p>
            <img id="first-img" src="{% static 'images/battlefield_img.png' %}" alt="">
            <p>Choose your unique color, over a 16 million different options!!!!</p>
            <img src="{% static 'images/colors.jpg' %}" alt="">
        </div>
    </div>
{% endblock content %}