body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin-top: 0%;
    color: rgb(78, 109, 243);
    text-decoration: underline;
    font-size: 70px;
    font-style: initial;
}

button {
    color: blue;
    background-color: lime;
    border-color: rgb(224, 255, 240);
    font-size: 32px;
    border-width: 5px;
    border-style: inset;
}