body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin-top: 0%;
    color: rgb(78, 109, 243);
    text-decoration: underline;
    font-size: 70px;
    font-style: initial;
}


/* .icobutton {
background-color: DodgerBlue;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
}

.icobutton:hover {
background-color: RoyalBlue;
} */

#Login {
    float: right;
    background-color: lemonchiffon;
    margin-right: 2%;
    width: 12%;
    height: 300px;
}

#mylink {
    float: left;
    color: blue;
    background-color: lime;
    border-color: rgb(224, 255, 240);
    width: 10%;
    font-size: 20px;
    border-width: 5px;
    border-style: groove;
}