*{
    margin: 0;
}

.header-main{
    background-image: url(images/home.jpg);
    height: 100vmax;
    width: 100%;
} 

.nav-bar {

	list-style: none;
    background-color: gray;
    width: 100%;
    height: 50px;
    position: sticky;
}

.navbar-item 
{
    float: right;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    right: 20px;
    margin: 3px;
    position: relative;
    cursor: pointer;
}


.navbar-item:after 
{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: black;
    z-index: -1;
    transform: skew(-45deg);
    transition: all .2s linear;
}
    
.navbar-item:hover:after {
    background-color: darkgreen;

}

.navbar-item:hover
{
    color: black;
    text-decoration: none;
}

.title {
    font-family: "Black Ops One";
    font-size: 100px;
    font-style: italic;
    text-decoration: underline;
    font-variant: small-caps;
    font-weight: lighter;
    line-height: 40.7px;
    margin-left: 25%;
    padding-top: 20px;
    text-shadow: 2px 2px green;
}

.game_images p{
    margin-left: 20%;
    margin-top: 50px;
    font-size: 30px;
    color: deepskyblue;

}

.game_images img{
    width: 600px;
    height: 300px;
    margin-left: 20%;
    margin-top: 5px;
    opacity: 0.5;

}

.game_images img:hover{
    opacity: 1;
}

